@import '../../variables';

.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  left: 0;
  margin-top: 35px;

  &__link {
    display: inline-block;
    position: relative;
    vertical-align: middle;

    &__label {
      min-height: 59px;
      padding: 0.25rem 1rem;
      margin-left: 15px;
      text-decoration: none;
      font-size: 20px;
      font-weight: 500;
      border: 2px solid $secondary-color;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      
      &:hover {
        cursor: pointer;
        background-color: $secondary-color;
      }
      &--active {
        background-color: $secondary-color;
      }
    }
  }
}