@import '../../variables';


@media print {
    @page {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.print-logo {
    display: none;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
}