@import '../../variables';

.knowledge {
    color: black;
    padding-bottom: 20px;

    &__type {
        font-size: 16px;
        font-weight: 700;
    }
    &__title {
        font-size: 13px;
    }
}