$secondary-color: rgb(32, 74, 108);
$background-color-darker: rgb(33, 40, 67);
$background-color: rgb(37, 44, 74);
$background-color-container: rgb(17, 20, 33);
$background-color-shadow: rgb(32, 74, 108);
$color-blue: rgb(67, 170, 224);